.modal {
    display: none; /* 默认隐藏模态框 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 置于顶层 */
    left: 0;
    top: 0;
    width: 100%; /* 全屏宽 */
    height: 100%; /* 全屏高 */
    overflow: auto; /* 超出滚动 */
    background-color: rgb(0,0,0); /* 背景色 */
    background-color: rgba(0,0,0,0.4); /* 背景色透明度 */
}

/* 模态内容的样式 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 居中显示 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 宽度 */
}

/* 关闭按钮的样式 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}